*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #5d98d1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar{
    width: 600px;
    height: 150px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 20px 20px 90px 90px;
    overflow: hidden;
    position: relative;
    transition: .3s;
    border: 20px solid white;
}
.nav-bar .item{
    width: 130px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #4298e7;
    z-index: 10;
    cursor: pointer;
}
.nav-bar .active{
    width: 210px;
}
.nav-bar .item i{
    font-size: 30px;
    transform: translate(0,0);
}
.nav-bar .item p{
    opacity: 0;
}
.nav-bar .active i{
    transform: translate(0,-10px);
}
.nav-bar .active p{
    opacity: 1;
}
.nav-bar #mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 210px;
    background-color: #e4f2ff;
    transition: .3s;
    border-radius: 20px;
}